<html>
    <title>Lottery</title>
    <body>
        <h1>Lottery</h1>
        <div class = 'form'>
            <form method='POST' action="">
                {{ form.hidden_tag() }}
                {{ form.generate }}
            </form>
        </div>
        {% if ticket %}
        You bought a lottery ticket with the numbers: <br>
        {{ ticket }} {{ type }}<br><br>
        The winning numbers were: <br>
        {{ lottery }} <br><br>
        You Won: £{{ prize }}<br><br>
        {% endif %}
        Previous lotteries entered:<br><br>
        {% for i in previous_tickets %}
        Ticket: {{ i.ticket }}<br>
        Winning Numbers: {{ i.winning }}<br>
        Prize: {{ i.prize }}<br><br>
        {% endfor %}
    </body>
</html>